# Server Configuration
PORT=3000
NODE_ENV=development

# Security Configurations
# Allowed origin for CORS. Use comma-separated values for multiple origins.
ALLOWED_ORIGIN=http://localhost:8080

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tutortic_db
DB_USER=tutortic_user
DB_PASS=tutortic_password

